header {
  background-color: #606c38;
  border-bottom: rgb(225, 89, 0) solid 1px;
  border-image: linear-gradient(
      90deg,
      #283618,
      #bc6c25,
      #283618
    )
    1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo img {
  width: 20px;
  height: auto;
}

.navList {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
  padding: 0;
  margin-top: 1rem;
}

.navLink {
  color: #fefae0;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  transition: background 0.3s;
}

.navLink:hover,
.navLink.active {
  background-color: #dda15e;
  color: #283618;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .navList {
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 0;
  }
  .navLink {
    font-size: 1.1rem;
    padding: 0.4rem 1rem;
  }
}
