.header {
  background-color: var(--color-bg-header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-header-padding);
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid var(--color-border-header);
  z-index: 1000;
}

.logo img {
  width: 20px;
  height: auto;
}

.menuButton {
  background: none;
  border: none;
  color: var(--color-link);
  cursor: pointer;
  display: block;
}

.nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-bg-nav);
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  transition: all 0.3s ease-in-out;
}

.nav.show {
  display: flex;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-nav-gap);
}

.navLink {
  color: var(--color-link);
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: var(--radius);
  text-align: center;
  transition: background 0.3s ease;
}
.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navLink:hover,
.navLink.active {
  background-color: var(--color-link-hover);
  color: var(--color-link-hover-text);
}

@media (min-width: 768px) {
  .menuButton {
    display: none;
  }

  .nav {
    position: static;
    display: flex !important;
    padding: 0;
    background: none;
  }

  .navList {
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
  }

  .navLink {
    font-size: 1rem;
    padding: 0.4rem 1rem;
  }
}